/build
/node_modules
/package-lock.json
/truffle-config.js
.DS_Store
/contracts/artifacts/
contracts/*/artifacts
/contracts/*/*/artifacts

.idea/misc.xml
.idea/modules.xml
.idea/open-order-contracts.iml
.idea/vcs.xml
